<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FaceIt2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D08D04901D44731400ADD5C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D08D04A41D44731400ADD5C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D08D04AF1D44731500ADD5C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
